*{
    font-family: "Roboto", sans-serif;
}
html{
    height: 100%;
}
a{
    color: #fff;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3992ad;
    color: #fff;
    .navItens{
        display: flex;
        align-items: center;
        a{
            margin: 0.50rem;
        }
    }
    .navPerfil{
        display: flex;
        align-items: center;
        p{
            margin: 0.5rem;
        }
    }
    .navPerfil:hover{
        background-color: #4bbadb;
        transition: all 250ms;
    }
    .navPerfil:not(:hover){
        transition: all 250ms;
    }
}
header{
    display: flex;
    height: 100vh;
    .menuLateral{
        width: 20vw;
        height: 100%;
        background-color: #202020;
        display: flex;
        flex-direction: column;
        position: relative;
        height: 91.6%;
        a{
            padding: 1rem;
        }
        a:hover{
            background-color: rgb(44, 44, 44);
            transition: all 250ms;
        }section
        section
        a:not(:hover){
            transition: all 250ms;
        }
    }
    .Dashboard{
        padding: 1rem;
        .paineis{
            display: grid;
            grid-template-columns: auto auto auto auto;
        }
        .painelClientes, .painelFornecedores, .painelFuncionarios, .painelFaturamento{
            width: 15rem;
            line-height: 0.5rem;
            padding: 0.50rem;
            text-align: left;
            margin-right: 1rem;
            color: #fff;
            border-radius: 15px;
            cursor: pointer;
        }
        .painelClientes{
            background-color: rgb(91, 240, 78);
        }
        .painelClientes:hover{
            background-color: rgb(119, 243, 107);
            transition: all 250ms;
        }
        .painelClientes:not(:hover){
            transition: all 250ms;
        }
        .painelFornecedores{
            background-color: rgb(78, 143, 240);
        }
        .painelFornecedores:hover{
            background-color: rgb(122, 171, 245);
            transition: all 250ms;
        }
        .painelFornecedores:not(:hover){
            transition: all 250ms;
        }
        .painelFuncionarios{
            background-color: rgb(45, 218, 175);
        }
        .painelFuncionarios:hover{
            background-color: rgb(96, 248, 210);
            transition: all 250ms;
        }
        .painelFuncionarios:not(:hover){
            transition: all 250ms;
        }
        .painelFaturamento{
            background-color: rgb(140, 78, 240);
        }
        .painelFaturamento:hover{
            background-color: rgb(172, 121, 253);
            transition: all 250ms;
        }
        .painelFaturamento:not(:hover){
            transition: all 250ms;
        }
        .graficos{
            .graficoVendas, .graficoDespesas{
                margin-top: 1rem;

            }
        }
    }
}